* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart {
  background: url("https://cssanimation.rocks/images/posts/steps/heart.png");
  width: 100px;
  height: 100px;
  background-position: 0 0;
  cursor: pointer;
  transition: background-position 1s steps(28);
  transition-duration: 0s;
}

.heart.active {
  transition-duration: 1s;
  background-position: -2800px 0;
}
